@import "~materialize-css/dist/css/materialize.min.css";

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    padding-right: 5px;
    animation: 
        typing 1s steps(20, end) forwards,
        blinking 1.2s infinite
}   

.container2 {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: transparent }
    to { border-color: orange; }
}

nav .sidenav-trigger {
    float: right;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: auto;
        margin: 0 18px;
        transform: initial;
    }
}


.containerTable {
    margin : 0;
    padding: 25px 50px;
    display: flex; 
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    color: #333333;
    overflow-x: scroll;
}

.container2 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.you {
    max-width: 80%;
    margin-left: auto;
    padding : 10px;
    background-color: #e5e4ff;
    border-radius: 10px;
    box-shadow: -4px 5px 2px 1px rgb(39 39 156 / 18%);
    font-size: 13px;
}

.not-you {
    max-width: 80%;
    margin-right: auto;
    padding : 10px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 4px 5px 2px 1px rgb(39 39 156 / 18%);
    font-size: 13px;
}

p, span {
    line-height: 1.2em!important
}

div p {
    background-image: url('../581(1).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background-attachment: fixed; */
    -webkit-background-clip: text;
    /* color: transparent; */
    line-height: 12px!important;
}

.div {
    background-color: black;
}
