@import "~materialize-css/dist/css/materialize.min.css";

.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    padding-right: 5px;
    animation: 
        typing 1s steps(20, end) forwards,
        blinking 1.2s infinite
    
}   

.container2 {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    from { border-color: transparent }
    to { border-color: orange; }
}

nav .sidenav-trigger {
    float: right;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: auto;
        margin: 0 18px;
        transform: initial;
    }
}


.containerTable {
    margin : 0;
    padding: 25px 50px;
    display: flex; 
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    color: #333333;
    overflow-x: scroll;
}

.container2 {
    padding-top: 40px;
    padding-bottom: 20px;
}